//_utilities.scss
/**************************
Set global variables here
***************************/
//colors
$primary-color: #008714;
$secondary-color: #4056a1;
$primary-text-color: #fff;
$secondary-text-color: #000;
$primary-icon-color: #000;
$secondary-icon-color: #e93b20;
$body-bg-color: #f4f1ec;
$body-text-color: #545149;
$tweet-hover-color: #c9cae2;
$tweet-footer-icon-color: #4056a1;
$tweet-footer-icon-hover-color: #7a560a;
$tweet-container-text-color: #555149;
$tweet-handle-color: #ccd5e6;
$invalid-color: red;
$scroll-top-bg-color: rgba(255, 255, 255, 0.7);

//typography
$primary-font: "Source Sans Pro", sans-serif;
$secondary-font: "Bungee";
