.new-tweet-toggle {
    transition: top 2s;
}
.new-tweet {
    display: none;
    width: 100%;
    margin: 1.3em 0;
    transition-timing-function: ease-in;
}
.new-tweet form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    color: #555149;
}
.new-tweet form label {
    width: 100%;
    font-weight: 600;
    font-size: 1em;
}
#tweet-text {
    width: 100%;
    border: none;
    resize: none;
    background: transparent;
    border-bottom: 5px solid #555149;
}
#tweet-text:focus {
    outline: none;
}
#tweet-text:focus-visible {
    outline: none;
}

.new-tweet button {
    color: #fff;
    background-color: #4056a1;
    border: none;
    font-family: "Bungee";
    font-size: 0.8em;
    font-weight: normal;
    padding: 5px 10px;
}

.new-tweet div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0.7em 0;
}

.counter {
    font-size: 0.8em;
    color: #555149;
    font-weight: bold;
    font-family: "Bungee";
    padding: 0 0.3em;
}

.invalid {
    color: red;
}

.form-error {
    margin: 0;
    padding: 0;
}

.form-error p {
    display: none;
    font-size: 0.8em;
    font-family: "Bungee";
    font-weight: bold;
    padding: 0.5em;
    border: 3px solid red;
    width: 100%;
    text-align: center;
    color: red;
    margin: 0;
}
